@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #563d06;
  --color-primary-tint: #a27006;
  --color-primary-tint-light: #ffe9bb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: ui-sans-serif, system-ui, sans-serif;
  --font-mono: ui-monospace, monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.bg-primary {
  background-color: #563d06 !important;
}

.active-nav {
  background-color: #ffe9bb !important;
}

.bg-warning {
  background-color: #a27006 !important;
}